# Gradle
.gradle/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Android captures
captures/

# Keystore files (NEVER commit)
*.jks
*.keystore

# External native build folder generated in Android Studio
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# NDK
obj/

# Lint/Reports
**/lint-results*.html
**/lint-results*.xml
**/lint-results*.txt
